@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center welcome-text dt background">
    <h1 class="display-4">Welcome to IPAlot!</h1>
    <p class="welcome-para">Make a profile and rate your beers NOW!</p>
</div>
