@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="welcome-text welcome-header text-center">@ViewData["Title"]</h1>

<p class="welcome-para text-center">We'll do our best not to let you get hacked. To be quite honest, I have absolutely no idea what to write here!</p>
